/* Stylesheet for Mobile App */

/* Reset */
html,body,div, h1,h2,h3,h4,h5,h6,p,ul,ol,li,header,footer,nav{
    margin:0;
    padding:0;
}

/* Universal Style */
body
{
    background-color:#e52e54;
}
div#container
{
    width:100%;
    background-color:#ff305c;
}
header
{
    width:94.2%;
    padding:25px;
    background-color: #ff305c;
}
header img#applogo{
    display: block;
    margin: auto;
    width:100px
}
header h1
{
    margin: auto;
    color:#4e4e4e;
    text-align: center;
    font-family: 'Permanent Marker', sans-serif;
    font-size:2.8em;
}
div#content{
    width:100%;
    background-color:#e52e54;
}

div#content img#widow{
    display:block;
    margin:auto;
    width 100px
}

div#content img#genji{
    display:block;
    margin:auto;
    width 100px;
    padding-top: 10px;
}

div#content h3{
    text-align: center;
    font-size:1.5em;
    color:#000;
}
div#content h4{
    text-align:center;
    font-size:1.5em;
    color:#000;
}
div#content h5{
    display:block;
    padding:20px;
    margin-top: auto;
    text-align:center;
    font-size:1.5em;
    color:#000;
}
div#content h6{
       display:block;
    text-align:center;
    font-size:1.5em;
    color:#000;
}
/*
nav{
    width:100%;
    background-color: #ff6b99;
}
nav ul{
    list-style: none;
}
nav ul li a{
    float:left;
    display:block;
    padding: 10px, 15px;
    border-right: 1px,solid #ff6b99;
    color:ghostwhite;
    text-decoration: none;
}
nav ul li a:hover{
    background-color: #b7b7b7;
    color:darkslategray;
}
*/
.icon-bar{
    position: absolute;
    bottom:0;
    left:0;
    width:100%;
    background-color: #555;
    overflow: auto;
}
.icon-bar a {
    float: left;
    width: 20%;
    text-align: center;
    padding: 12px 0;
    transition:all 0.3s ease;
    color:white;
    font-size: 36px;
}
.icon-bar a:hover {
    background-color: #000000;
}
.active {
    background-color: #ff305c;
}
div#contentt h3{
    text-align: center;
    font-size:1.5em;
}
div#contentt img#widdow{
    display:block;
    margin:auto;
    width 100px;
    padding-top: 10px;
    color:#c96ceb;
}
div#contenttt h3{
    text-align: center;
    font-size:1.5em;
    color:#57e868
}
div#contenttt img#genjii{
    display:block;
    margin:auto;
    width 100px;
    padding-top: 10px;
}
div#contentttt h3{
    text-align: center;
    font-size:1.5em;
}
div#contentttt h4{
    padding-top: 10px;
    text-align: center;
    font-size:1.5em;
}
div#contentttt img#meme{
        display:block;
    margin:auto;
    width 100px;
    padding-top: 10px;
    
}
/*
footer{
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    height:50px;
    background-color: #44dda2;
}
div.keepOpen{
    clear:both;
}

@media screen and (max-width: 600px) {
    div#container{
        width:100%
    }
    nav ul li a{
        float:none;
        text-align: center;
    }
}*/
